force-app/main/default/flows/R_Retail_Portal_Contact_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>CreateRetailPortalContact</name>
        <label>CreateRetailPortalContact</label>
        <locationX>1724</locationX>
        <locationY>241</locationY>
        <actionName>RP_CreateContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User_Creation_Successful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Current_Contact_Infomation.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionGroup</name>
            <value>
                <elementReference>SelectedFunction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initials</name>
            <value>
                <elementReference>Initials</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>language</name>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>Get_Active_Location.Phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salutation</name>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>webshopAuthorization</name>
            <value>
                <elementReference>Webshop_Authorization</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RP_CreateContact</nameSegment>
        <outputParameters>
            <assignToReference>GetContactRecord</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignFunction</name>
        <label>AssignFunction</label>
        <locationX>1724</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>SelectedFunction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Type_gebruiker</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRetailPortalContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFunction_0</name>
        <label>AssignFunction</label>
        <locationX>1491</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>SelectedFunction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Type_gebruiker1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRetailPortalContact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceLanguageFR</name>
        <choiceText>French</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>fr_FR</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceLanguageNL</name>
        <choiceText>Dutch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>nl_NL</stringValue>
        </value>
    </choices>
    <choices>
        <description>Employee</description>
        <name>Employee</name>
        <choiceText>Medewerker</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>EmployeeChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Manager</name>
        <choiceText>Manager/Hoofd/Teamleider</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ManagerChoice</elementReference>
        </value>
    </choices>
    <constants>
        <name>LabelEmployee</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Medewerker</stringValue>
        </value>
    </constants>
    <constants>
        <name>LabelShopmanager</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager/Hoofd/Teamleider</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckUserContactID</name>
        <label>CheckUserContactID</label>
        <locationX>1306</locationX>
        <locationY>73</locationY>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>IsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Function_Group</targetReference>
            </connector>
            <label>IsNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Function_Group</name>
        <label>Decision Function Group</label>
        <locationX>1485</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>AssignFunction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>currentUserDirector</defaultConnectorLabel>
        <rules>
            <name>currentUserManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Contact_Infomation.Function_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager/Hoofd/Teamleider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFunction_0</targetReference>
            </connector>
            <label>currentUserManager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_email_unique</name>
        <label>Is email unique?</label>
        <locationX>1166</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>Screen_Email_Is_Not_Unique</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_is_unique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_email_uniqueness</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckUserContactID</targetReference>
            </connector>
            <label>Email is unique</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Jumbo_account</name>
        <label>Is Jumbo account?</label>
        <locationX>753</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>User_Registeration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Jumbo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Jumbo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Invoice_Payer_Retail__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Jumbo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_Jumbo</targetReference>
            </connector>
            <label>Is Jumbo</label>
        </rules>
    </decisions>
    <description>Flow to register a new contact, which will trigger the creation of a portal user.</description>
    <dynamicChoiceSets>
        <name>contactSalutations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Function_Group</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Function_Group__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ContactEmailLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.RP_ContactEmailLabel}</expression>
    </formulas>
    <formulas>
        <name>ContactEmailPlaceholder</name>
        <dataType>String</dataType>
        <expression>{!$Label.RP_ContactEmailPlaceholder}</expression>
    </formulas>
    <formulas>
        <name>UserContactID</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>R - Retail Portal Contact Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>R - Retail Portal Contact Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_email_uniqueness</name>
        <label>Check email uniqueness</label>
        <locationX>1164</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_email_unique</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>509</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Contact_Infomation.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Location</name>
        <label>Get Active Location</label>
        <locationX>623</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Jumbo_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Retail_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Contact_Infomation</name>
        <label>Get Current Contact Infomation</label>
        <locationX>397</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen_Jumbo</name>
        <label>Error Screen Jumbo</label>
        <locationX>761</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessageJumbo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(52, 64, 182); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;This application is only available to retailers who do not use single sign on to log into Mijn PostNL&amp;nbsp;Punt. If you would like your colleagues to also log into the portal, please contact your IT department to enable single sign on.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Sorry!! Contact cannot be created. Please contact system admin.</description>
        <name>Failure_Screen</name>
        <label>Failure Screen</label>
        <locationX>1922</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Failure_Message</name>
            <fieldText>&lt;p&gt;Het bevestigen is niet gelukt. Neem contact op met je leidinggevende of de beheerder van je account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Email_Is_Not_Unique</name>
        <label>Screen Email Is Not Unique</label>
        <locationX>973</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_Registeration</targetReference>
        </connector>
        <fields>
            <name>Email_error_message</name>
            <fieldText>&lt;p&gt;The email address you&apos;ve provided is already used. Please fill in an unique email address.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Creation_Successful</name>
        <label>User Creation Successful</label>
        <locationX>1722</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UserCreationSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(237, 140, 0); font-size: 24px;&quot;&gt;Done!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(237, 140, 0); font-size: 24px;&quot;&gt;The new user has been registered.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(52, 64, 182); font-size: 16px;&quot;&gt;The new user received an email to set a password for his/her MijnPostNLpunt-account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Registeration</name>
        <label>User Registeration</label>
        <locationX>973</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_email_uniqueness</targetReference>
        </connector>
        <fields>
            <name>Salutation</name>
            <choiceReferences>contactSalutations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Aanhef</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Initials</name>
            <dataType>String</dataType>
            <fieldText>Initialen</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>Voornaam</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Achternaam</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>ContactEmailLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>ContactEmailPlaceholder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UserEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Type_gebruiker</name>
            <choiceReferences>Function_Group</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Medewerker</stringValue>
            </defaultValue>
            <fieldText>Functie</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Current_Contact_Infomation.Function_Group__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Directeur/Bestuurder/Eigenaar</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_gebruiker1</name>
            <choiceReferences>Employee</choiceReferences>
            <choiceReferences>Manager</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Employee</defaultSelectedChoiceReference>
            <fieldText>Functie</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Current_Contact_Infomation.Function_Group__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Manager/Hoofd/Teamleider</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Language</name>
            <choiceReferences>choiceLanguageNL</choiceReferences>
            <choiceReferences>choiceLanguageFR</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>nl_NL</stringValue>
            </defaultValue>
            <fieldText>Taal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Webshop_Authorization</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Webshop</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Contact_Infomation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Beste {!First_Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Er staat voor jou een account klaar voor MijnPostNLpunt. Het enige wat jij hoeft te doen is het account activeren. We leggen je uit hoe je dat kunt doen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Jouw unieke registratiecode is: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!GetContactRecord.RP_Contact_Unique_Key__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;1. Ga naar MijnPostNLpunt via &lt;/span&gt;&lt;a href=&quot;https://mijnpostnlpunt.nl/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;mijnpostnlpunt.nl&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;2. Klik op ‘Ik heb een registratiecode ontvangen’;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;3. Voer jouw unieke registratiecode in;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;4. Controleer je gegevens en pas ze aan dat als dat nodig is. Klik op bevestigen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;5. Stel een wachtwoord in voor je MijnPostNLpunt-account.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Je account is nu klaar voor gebruik. Je kunt inloggen met je e-mailadres en wachtwoord via &lt;/span&gt;&lt;a href=&quot;https://mijnpostnlpunt.nl/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;mijnpostnlpunt.nl&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Met vriendelijke groet,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Het team van PostNL&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactUniqueKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmployeeChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Medewerker</stringValue>
        </value>
    </variables>
    <variables>
        <name>GetContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ManagerChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Manager/Hoofd/Teamleider</stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedFunction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
